<%= form_with(model: job_status) do |form| %>
  <% if job_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_status.errors.count, "error") %> prohibited this job_status from being saved:</h2>

      <ul>
        <% job_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
