<p id="notice"><%= notice %></p>

<h1>Job Statuses</h1>

<button type="button" id="reload">reload</button>
<button type="button" id="calljob">call job</button>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_statuses.each do |job_status| %>
      <tr>
        <td><%= job_status.status %></td>
        <td><%= link_to 'Show', job_status %></td>
        <td><%= link_to 'Edit', edit_job_status_path(job_status) %></td>
        <td><%= link_to 'Destroy', job_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Status', new_job_status_path %>

<script>
  var reload = document.getElementById('reload');
  reload.addEventListener('click', function(){
    window.location.reload();
  });

  var reload = document.getElementById('calljob');
  reload.addEventListener('click', function() {
    // fetch()メソッドは、「非同期通信という方法で、サーバ上にある欲しいデータを取得できる」
    fetch('/home/call_job', {
      method: 'GET'
    });
  });
</script>
